.counter-contain {
    width: 350px;
    height: 280px;
    flex-direction: column;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    border-radius: 14px;
    justify-content: center;
    margin: 1rem auto;
  }
  
  .button-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    margin: 0 5px;
    cursor: pointer;
  }
  
  #counter {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .uniq-butt {
    margin-top: 20px;
  }
  
  .counter-contain:not(:first-child) {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  

  
  h1 {
    font-size: 24px;
    text-align: center;
  }